
#menu{
    color: white;
    border: none;
    background: transparent;
    font-size: 1.5em;
  }

  .menu-container{
    background-color: rgb(0, 0, 0);
  }
  
.menu-bar{
    padding: 0px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

  .menu-container ul{
      color: rgb(255, 255, 255);
  }

  
  #logo{
    width: 30%;
    margin: 8px 0px 5px 5px;
  }
.menu-links{
    font-size: 1.2em;
}


.menu-bar button{
    background: transparent;
    border: none;
}

.menu-bar button:hover{
    cursor: pointer;
}

.menu-bar i{
    font-size: 1.3em;
}

.menu i{
   margin-right: 10px;
}

#menu i{
    color: rgb(255, 255, 255);
}

 ul{
    list-style: none;}

 ul li{
    padding: 10px;
}

 a{
     color: inherit;
    text-decoration: none;
    transition: color 0.3s ease;
}

.active{
    color: #20B2AA;
  }


  


@media screen and (min-width:996px){
    #logo{
        width: 45%;
     
      }
    #menu{
        color: white;
        border: none;
        background: transparent;
        display: none;
        font-size: 1.5em;
      }
      
    
    .menu-bar{
        align-self: center;
    }
    
    .menu-container{
        display: flex;
        flex-direction: row;
    }
    
    .menu-links{
        display: flex!important;
        flex: 1 0 auto;
        justify-content: space-around;
        align-self: center;
    }
    
    .menu-links a{
        text-align: center;    
    }

    .menu i{
        display: flex;
        flex-wrap:wrap;
        justify-content: center;
        align-items: center; 
      } 
}